/*
File: css.css
Author: Bradley R. Legg, UMass Lowell Computer Science, bradley_legg@student.uml.edu
a. Bradley R. Legg
b. 8 August 2021
c. Styling for the website .html pages.
*/

html {
  margin: auto;
  padding: 0;
  height: 100%;
}

/* borders added to make the page look more detailed */
body {
  font-size: 1em;
  border-top: 1.2em solid #00adb5;
  border-right: 1.5em ridge #00adb5;
  margin: auto;
  padding: 0%;
  min-height: 100%;
  min-width: 683px; /* best value found with dev. tools */
}

/* using an ID is fine when the HTML element is unique to the page */
#page {
  margin: 0;

}

#topNavbar {
  /*  lighter: 0,173,181,255
      darker:  0,92,97,255
      logoBG:  0,173,181,255      */
  text-align: center;
  border: 0.8em ridge #00adb5;
  white-space: nowrap;
  background-color: #00adb5;
  /* min-width: 94%; */
  min-width: 620px;
  height: auto;
  overflow: inherit;
  /* sanity check:
     margin and padding set to 0 as sometimes the browsers
     default margin and padding are undesirable for the
     layout */
  padding: 0;
  margin-top: 1%;
  margin-right: 1%;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;

}

li {

}

/* used to list elements on the navbar with spacing */
.ul-navbar {
  display: flex;
  justify-content: space-around;
  padding: 1.8%;
  margin: 0;
}

/* helps keep navbar items in a single line */
.li-navbar {
  display: inline-block;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3px;
  margin-right: 3px;
}

.navbar-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(226,235,235,255);
  text-shadow: -0.02em -0.02em black;
}

/* highlights text in navigation bar to tell which page the user is on */
.navbar-link.on {
  color: orange;
}

/* highlights on mouse-over */
.navbar-link:hover {
  color: orange;
}

/* using border to make the basic appearane of a button to go to my linkedin */
.navbar-link.button {
  color: rgba(226,235,235,255);
  background-color: #00adb5;
  padding: 1%;
  border: 0.4em solid rgba(0,92,97,255);
  border-radius: 0.2em;
}

.navbar-link.button:hover {
  color: orange
}

.text-link {
  color: rgba(0,92,97,255);
  font-weight: bold;
  text-decoration: none;
}

/* class used for text underline */
.emphasis {
  text-decoration: underline;
}

.italics {
  font-style: italic;
}

h1 {
  font-family: "Montserrat",sans-serif;
  font-size: 2em;
}

.description {
  font-size: 1.1em;
  /* keep the text on its half when resizing */
  margin-right: 40%;
}

.basic-container {
  width: 65%;
  height: auto;
  min-width: 485px;
  min-height: 410px;
  /* top right bottom left to center */
  margin: 5% auto 5% auto;
  border: 0.8em solid lightgrey;
}

/* using parent class for specific child-classes to reduce
   code redundancy when styling elements that will be used
   more than once */
.logo-class {
  overflow: hidden;
  width: auto;
  height: auto;
  vertical-align: middle;
  padding: 0;
  margin: -100%; /* prevents img from extending the div container */
}

/* sizing for "bradley legg" logo */
.logo-class.BL {
  max-height: 3em;
  max-width: 5em;
}

/* sizing for github icon */
.logo-class.GH {
  max-height: 2em;
  max-width: 3em;
}

#photo {
  /* fits image into div container neatly */
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0;

  /* fixes whitespae at bottom of image between the bottom of the div. Explained
     in .image-Container.PFP */
  display: block;
  vertical-align: middle;
}

/* using parent class for specific child-classes to reduce
   code redundancy when styling elements that will be used
   more than once */
.div-Container {
  margin: 0;
  padding: 0;
}

.div-Container.PFP {
  float: right;

  width: 20%;
  height: 25%;

  margin-top: 8%;
  margin-right: 5%;

  /* keeps spacing between text in the textDescription1 div */
  margin-left: 12%;
  margin-bottom: 8%;

  border: 0.7em solid lightgrey;
  border-radius: 0.35em;

  /*
    solution taken from: https://www.tutorialrepublic.com/faq/how-to-remove-white-space-under-an-image-using-css.php
    noted problem: if you try to put an image inside a <div> element that has
    borders, you will see an extra white space (around 3px) at the bottom of
    image. It happens because image is an inline-level element so browser adds
    some whitespace under the baseline to adjust other inline elements.

    fix: display: block; on #photo
  */
}

/* the importance of div contains is high, they keep the page looking the same at
   any resolution/page zoom */

.div-Container.textHeading1 {
  /* moving inline with the #photo image */
  margin-top: 8%;
  margin-left: 5%;
}

.div-Container.textDescription1 {
  margin-top: 4%;
  margin-left: 5%;
}

.div-Container.button1 {
  margin-top: 4%;
  margin-left: 5%;
}

.div-Container.footer {
  width: 100%;

  background-color: #00adb5!important;
  min-height: 90px;
  min-width: 100%;
  margin-top: 10%;
}

#footer-text {
  /* centering with 10% page offset */
  margin-left: 40%!important;

  color: rgba(226,235,235,255);
  font-size: 1.2em;
  font-weight: bold;
}
